---
import '../styles/global.css';
import BaseLayout from '../layouts/BaseLayout.astro';

const pageTitle = "About Me";

const identity = {
    firstName: "Matisse",
    country: "The United States",
    hobbies: ["photography", "birdwatching", "baseball"],
    occupation: "backend web developer",
    employed: true,
};

const skills = ["Ruby on Rails", "SQL", "HTML", "JavaScript"];


const skillColor = "Navy";
const fontWeight = "bold";
const textCase = "uppercase";
---

<style define:vars={{skillColor, fontWeight, textCase}}>
    h1 {
        color: purple;
        font-size: 4rem;
    }
    .skill {
        color: var(--skillColor);
        font-weight: var(--fontWeight);
        text-transform: var(--textCase);
    }
</style>

<BaseLayout pageTitle={pageTitle}>
    <h2>My name is not actually {identity.firstName}, it's Jeff.</h2>

    <p>Also, I'm working through Astro's introductory tutorial.</p>

    <p>Also, I lied. My name isn't Jeff.</p>

    <p>Here are a few facts about me:</p>
    <ul>
        <li>My name is really {identity.firstName}.</li>
        {
            identity.employed && identity.occupation ? (
                <li>
                    I live in {identity.country}, working as a{" "}
                    {identity.occupation}.
                </li>
            ) : (
                <li>
                    I live in {identity.country}, and I'm currently open to
                    work.
                </li>
            )
        }
    </ul>
    <p>Some of my skills include...</p>
    <ul>
        {skills.map((skill) => <li class="skill">{skill}</li>)}
    </ul>
</BaseLayout>